body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

#profile-photo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Make the photo round */
}

#links {
    margin-top: 20px;
}

#links ul {
    list-style-type: none;
    padding: 0;
}

#links li {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
